<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.GradeMapper">
    <resultMap id="gradeMap" type="Grade">
        <id property="id" column="id"/>
        <result property="gradeName" column="grade_name"/>
        <result property="createDate" column="create_date"/>
    </resultMap>
    <select id="queryAllGrade" resultMap="gradeMap">
        select * from grade
    </select>
    <select id="queryGradeByGradeId" parameterType="integer" resultMap="gradeMap">
        select * from grade where id=#{gradeId}
    </select>

    <delete id="deleteGradeByGradeId" parameterType="integer">
        delete from grade where id=#{gradeId}
    </delete>
    <delete id="deleteGradeListByGadeIds" parameterType="list">
        delete from grade where id in
        <foreach collection="list" item="ids" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <insert id="addGrade" parameterType="Grade" keyProperty="id" useGeneratedKeys="true">
        insert into grade values(null,#{gradeName},now(),#{details})
    </insert>
    <update id="updateGrade" parameterType="Grade">
        update grade set details=#{details} where id=#{id}
    </update>
</mapper>
