<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdqn.dao.TUserMapper">
    <resultMap id="userMap" type="TUser">
        <id property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
    </resultMap>
    <select id="login" resultMap="userMap" parameterType="TUser">
        select * from t_user where user_name=#{userName} and password=#{password}
    </select>
    
    <select id="queryAll" resultMap="userMap">
        select * from t_user order BY id DESC
    </select>
</mapper>
